<ion-header>
  <ion-navbar>
    <ion-title>{{name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="divider">
    <p>How was your experience at {{name}}?</p>
  </div>
  <form class="rating-form" padding>
    <div class="rating-group" *ngFor="let rating of ratings">
      <h2 class="center">{{rating.param}}</h2>
      <span class="rating-array" *ngFor="let i of [1,2,3,4,5]">
        <input type="radio" name="{{rating.param}}" value="{{i}}" (click)="handleRating(rating.param, i)">
        <span [class.highlighted]="i <= rating.value"></span>
      </span>
    </div>
    <button type="submit" ion-button block (click)="handleSubmit()">Finish</button>
  </form>
</ion-content>
