<h2 class="center">Nearby Locations</h2>
<ion-grid>
  <ion-row>
    <ion-col *ngFor="let nearbyBrewery of nearbyBreweries" (click)="goToBrewery(nearbyBrewery.id)" width-33>
      <img src="{{nearbyBrewery.img}}" />
      <div class="ion-col--inner center">
        <h3>{{nearbyBrewery.name}}</h3>
        <span>{{ getDistanceFromCurrent( nearbyBrewery.coords ) }} miles</span>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<a *ngIf="showLink" block class="center link link--large" (click)="goToNearby($event)">See More</a>
