// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

ion-app.ios,
ion-app.md,
ion-add.wp {
  font-family: 'Roboto', sans-serif;
}

ion-grid,
ion-row,
ion-col {
  padding: 0;
  .inner {
    padding: 5px;
  }
}

ion-list.ion-list-col2 {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid rgba(151,151,151,.2);
  > ion-item {
    width: 50%;
  }
  > .item-block:first-of-type {
    border-top: none;
  }
  > .item-block {
    border-bottom: 1px solid rgba(151,151,151,.2);
    &:last-of-type,
    &:nth-last-of-type(2):nth-of-type(2n-1){
      border-bottom: none;
    }
    > .item-inner {
      border-bottom: none;
    }
  }
}

.item {
  padding-left: 0;
}

h2 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 26px 0 19px;
}

h3 {
  font-size: 14px;
  margin: 9px 0 3px;
}

.center {
  display: block;
  text-align: center;
}

.divider {
  border-top: solid 1px rgba(150, 150, 150, 0.2);
  border-bottom: solid 1px rgba(150, 150, 150, 0.2);
  padding-bottom: 26px;
}

.link {
  text-transform: uppercase;
}

.link--large {
  margin: 26px 0 0;
}

ion-header {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06);
	border: solid 1px rgba(184, 184, 184, 0.35);
  background: #FFFFFF;
  img {
    padding: 14px 21px;
    border-bottom: 2px solid #23221e;
    float: left;
  }
}

.has-title .tab-button-text {
  display: none;
}

gopc-ad {
  display: block;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06);
  border: solid 1px rgba(184, 184, 184, 0.35);
}

.img-scrub {
  white-space: nowrap;
  .scroll-content {
    padding:0!important;
  }
}

.icon-avatar {
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
  &[aria-selected="true"]{
    border: 1px solid map-get($colors,dark);
  }
  img {
    height: 100%;
    width: auto;
  }
}
