<ion-header>
  <ion-navbar>
    <ion-title>{{data.name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-scroll class="img-scrub" scrollX="true" style="width:100vw;height:150px;">
    <img *ngFor="let img of dummyData.imgs" src="{{img}}" />
  </ion-scroll>
  <div padding>
    <p>{{dummyData.description}}</p>
    <button ion-button block>Check-In</button>
    <ion-grid>
      <ion-row>
        <ion-col width-50>
          <div class="brewery-info"><!--TODO: directions -->
            <strong>Get directions</strong>
            <small>Get some beer</small>
          </div>
        </ion-col>
        <ion-col width-50>
          <div class="brewery-info" (click)="openWebsite(data.url)">
            <strong>Visit website</strong>
            <small>{{data.breweryData.brewery_website | removehttp}}</small>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-50>
          <div class="brewery-info"><!--TODO: figure out how to dial natively-->
            <strong>Call</strong>
            <small>{{data.breweryData.brewery_phone}}</small>
          </div>
        </ion-col>
        <ion-col width-50>
          <div class="brewery-info" (click)="openHours()">
            <strong>Open now</strong>
            <small>{{getTodaysHours()}}</small>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="divider" padding>
    <h2 class="center">Amenities</h2>
    <ion-list class="ion-list-col2">
      <ion-item *ngFor="let amenity of dummyData.amenities">
        {{amenity}}
      </ion-item>
    </ion-list>
  </div>
  <div class="divider">
    <gopc-ad></gopc-ad>
  </div>
  <div>
    <span class="center">{{data.breweryData.brewery_formatted_address}}</span>
  </div>
  <div padding>
    <h2>{{data.numRatings}} Ratings</h2>
    <ion-list>
      <ion-item *ngFor="let rating of dummyData.ratings">
        {{rating.param}}
        {{rating.value}}
      </ion-item>
    </ion-list>
    <button ion-button block (click)="openRating()">Rate brewery</button>
    <h2 class="center">Share</h2>
    <ion-grid>
      <ion-row>
        <ion-col width=33>
          <div class="brewery-info brewery-info--social">
            <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
            Facebook
          </div>
        </ion-col>
        <ion-col width=33>
          <div class="brewery-info brewery-info--social">
            <ion-icon ios="logo-twitter"></ion-icon>
            Twitter
          </div>
        </ion-col>
        <ion-col width=33>
          <div class="brewery-info brewery-info--social">
            <ion-icon name="mail"></ion-icon>
            Email
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <button ion-button block class="brewery-info">Bookmark</button>
  </div>
</ion-content>
