page-brewery {
  .button {
    background-color: #23221E;
    font-size: 14px;
  }
  .label {
    font-size: 14px;
  }
}

button.brewery-info,
.brewery-info {
  color: map-get($colors, dark);
  background: none;
  padding: 7px 13px 9px;
  border-radius: 5px;
  border: solid 1px #b8b8b8;
  margin: 6px 4px;
  strong,
  small {
    font-size: 14px;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  small {
    color: #B8B8B8;
  }
  &--social {
    text-align: center;
    font-weight: 700;
    ion-icon {
      display: block;
      font-size: 2em;
      color: #B9B9B8;
      &.ion-logo-facebook { color: #3C5999; }
      &.ion-logo-twitter { color: #55ACEE; }
    }
  }
}

button.brewery-info {
  font-weight: 700;
}

.rating-mask {
  display: inline-block;
  img {
    position: relative;
    z-index: 2;
  }
}

.share-wrapper,
.rating-wrapper {
  h2 {
    padding: 0 0 3px;
    margin: 0 0 2px;
    border-bottom: 1px solid rgba(151,151,151,.2);
  }
}

.rating-val {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: .8;
  background-color: #D8D8D8;
  &:after {
    content: '';
    background-image: url('https://d6fie5tbv83w2.cloudfront.net/assets/2017/01/29223312/starmask.svg');
    background-size: cover;
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
  }
  .rating-valInner {
    background: map-get($colors, light);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
}

.rating-score {
  display: inline-block;
  width: 2em;
  text-align: right;
}

.map-wrapper {
  padding: 26px 0 0;
}


#map {
  margin: 17px 0 20px;
  height: 30vh;
}
