<ion-header>
  <ion-navbar>
    <ion-title>{{data.name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-scroll *ngIf="data.gallery" class="img-scrub" scrollX="true" style="width:100vw;height:150px;">
    <img *ngFor="let img of data.gallery" src="{{img.src}}" />
  </ion-scroll>
  <div padding>
    <div [innerHTML]="data.description"></div>
    <button ion-button block>Check-In</button>
    <ion-grid>
      <ion-row>
        <ion-col width-50>
          <div class="brewery-info"><!--TODO: directions -->
            <strong>Get directions</strong>
            <small>Get some beer</small>
          </div>
          <div *ngIf="data.url" class="brewery-info" (click)="openWebsite(data.url)">
            <strong>Visit website</strong>
            <small>{{data.url || 'N/A' | removehttp}}</small>
          </div>
        </ion-col>
        <ion-col width-50>
          <div *ngIf="data.tel" class="brewery-info"><!--TODO: figure out how to dial natively-->
            <strong>Call</strong>
            <small>{{data.tel || 'N/A'}}</small>
          </div>
          <div *ngIf="data.breweryHours !== null" class="brewery-info" (click)="openHours()">
            <strong>{{'Open Now' | today}}</strong>
            <small *ngIf="data.breweryHours">{{data.breweryHours | todayshours}}</small>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="divider" padding>
    <h2 class="center">Amenities</h2>
    <ion-list class="ion-list-col2">
      <ion-item *ngFor="let amenity of dummyData.amenities">
        {{amenity}}
      </ion-item>
    </ion-list>
  </div>
  <div class="divider">
    <gopc-ad></gopc-ad>
  </div>
  <div class="map-wrapper">
    <span class="center">{{data.breweryAddress}}</span>
    <div #map id="map"></div>
  </div>
  <div padding class="rating-wrapper">
    <h2>{{dummyData.numRatings}} Ratings</h2>
    <ion-list no-lines>
      <ion-item *ngFor="let rating of dummyData.ratings">
        <span item-left>{{rating.param}}</span>
        <span item-right>
          <span class="rating-mask" #ratings [attr.data-rating]="rating.value"><span *ngFor="let i of [1,2,3,4,5]" class="rating-val"><span class="rating-valInner"></span></span></span>
          <span class="rating-score">{{rating.value}}</span>
        </span>
      </ion-item>
    </ion-list>
    <button ion-button block (click)="openRating()">Rate brewery</button>
  </div>
  <div padding class="share-wrapper">
    <h2 class="center">Share</h2>
    <ion-grid>
      <ion-row>
        <ion-col width=33>
          <div class="brewery-info brewery-info--social">
            <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
            Facebook
          </div>
        </ion-col>
        <ion-col width=33>
          <div class="brewery-info brewery-info--social">
            <ion-icon ios="logo-twitter" md="logo-twitter"></ion-icon>
            Twitter
          </div>
        </ion-col>
        <ion-col width=33>
          <div class="brewery-info brewery-info--social">
            <ion-icon name="mail"></ion-icon>
            Email
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <button ion-button block class="brewery-info">Bookmark</button>
  </div>
</ion-content>
