page-brewery {

}

.brewery-info {
  padding: 7px 13px 9px;
  border-radius: 5px;
  border: solid 1px #b8b8b8;
  margin: 6px 4px;
  strong,
  small {
    font-size: 14px;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  small {
    color: #B8B8B8;
  }
}
