<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content padding>
  <h2 class="center">Breweries</h2>
  <ion-segment [(ngModel)]="show">
    <ion-segment-button value="nearby">Nearby</ion-segment-button>
    <ion-segment-button value="all">All</ion-segment-button>
    <ion-segment-button value="saved">Saved</ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="show" padding>
    <div *ngSwitchCase="'nearby'">
      <p *ngIf="!currentPos">Loading breweries</p>
      <brewery-list-full *ngIf="currentPos" [args]="{orderby: 'nearby', lat: currentPos.lat, lng: currentPos.lng}" (loaded)="dismissLoader()"></brewery-list-full>
    </div>
    <div *ngSwitchCase="'all'">
      <brewery-list-full [args]="{orderby: 'name'}"></brewery-list-full>
    </div>
    <div *ngSwitchCase="'saved'">
      <p *ngIf="!userId">Loading breweries</p>
      <brewery-list-full *ngIf="userId" [args]="{userId: userId}"></brewery-list-full>
    </div>
  </div>
</ion-content>
