<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
  <div *ngIf="coords">
    <div class="nearby-selector" (click)="openCitySelector()">
      <ion-icon *ngIf="selectedCity" name="pin"></ion-icon>
      {{selectedCity}}
    </div>
    <div class="divider">
      <brewery-list [args]="{count:3, lat: coords.lat, lng: coords.lon}"></brewery-list>
    </div>
    <div *ngIf="guides" class="divider">
      <guide *ngFor="let guide of guides" [data]="guide"></guide>
    </div>
    <div class="divider">
      <gopc-ad></gopc-ad>
    </div>
  </div>
  <div *ngIf="!coords" class="center" padding>
    Calculating Location
  </div>
</ion-content>
