<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
  <div *ngIf="currentPos">
    <div class="nearby-selector" (click)="openCitySelector()">
      <ion-icon *ngIf="selectedCity" name="pin"></ion-icon>
      {{selectedCity}}
    </div>
    <div class="divider">
      <brewery-list [args]="{orderby: 'nearest', lat: currentPos.lat, lng: currentPos.lng}" (loaded)="dismissLoader()"></brewery-list>
    </div>
    <div *ngIf="guides" class="divider">
      <guide *ngFor="let guide of guides" [data]="guide"></guide>
    </div>
    <div class="divider">
      <gopc-ad></gopc-ad>
    </div>
  </div>
  <div *ngIf="!currentPos" class="center" padding>
    Calculating Location
  </div>
</ion-content>
